* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #94a1b2;
  --text-light: #fffffe;
  --text-dark: #72757e;
  --background: #1A1A2E;

  --white: rgba(255, 255, 255, 0.1);

  --link: #7f5af0;

  --font-poppins: 'Poppins';
}

body {
  background: var(--background);
}

body, button, textarea, input {
  color: var(--text);
  font: 400 1rem "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
