.container {
  height: 100%;
  padding-left: 60px;
  position: relative;

  display: flex;
  align-items: center;

  @media(max-width: 768px) {
    padding-left: 0px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  z-index: 1;

  h1 {
    font-size: 4.5rem;
    line-height: 4.25rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-light);
    
    max-width: 360px;
  }

  p {
    max-width: 560px;

    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media(max-width: 768px) {
    width: 100%;
    align-items: center;
    row-gap: 12px;
    
    text-align: center;
    
    h1 {
      max-width: 100%;
    }
  }

  @media(max-width: 600px) {
    h1 {
      font-size: 2.5rem;
      line-height: 2.75rem;
      max-width: 300px;
    }

    p {
      font-size: 1rem;
      line-height: 1.375rem;
      max-width: 360px;
    }
  }
}

.background {
  position: absolute;
  margin: auto;
  opacity: 0.15;

  span {
    font-size: 12vw;
    line-height: 11.5vw;
    letter-spacing: 3px;
    font-weight: 900;
    color: var(--background);
    font-family: var(--font-poppins);

    background: linear-gradient(-90deg, transparent, var(--text-dark));
    -webkit-background-clip: text;
    -webkit-text-stroke: 10px transparent;
  }

  @media(max-width: 768px) {
    text-align: center;

    span {
      font-size: 15vw;
      line-height: 20vw;
    }
  }

}

.avatar {
  align-self: flex-end;
  margin: 0 auto;

  position: relative;
  width: 800px;
  height: clamp(60vh, 90vh, 800px);

  @media(max-width: 768px) {
    display: none;
  }
}