.container {
  height: 100vh;
  padding-left: 60px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 4rem;
    line-height: 4.125rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-light);
    font-family: var(--font-poppins);

    max-width: 360px;
  }

  p {
    max-width: 560px;
    margin-top: 28px;

    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.background {
  position: absolute;
  z-index: -1;
  margin: auto;
  opacity: 0.6;

  span {
    font-size: 12vw;
    line-height: 11.5vw;
    letter-spacing: 3px;
    color: var(--background);
    font-weight: 900;
    font-family: var(--font-poppins);

    background: var(--link);
    -webkit-background-clip: text;
    -webkit-text-stroke: 10px transparent;
  }
}