.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(287.69deg, #16161A 1.02%, rgba(29, 29, 52, 0.94) 87.35%);

  display: flex;

  @media(max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.header {
  height: 100%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 12px;
  background: var(--background);

  > strong {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -6px;
    color: var(--text-light);
    font-family: var(--font-poppins);
    
    padding-right: 3px;
  }

  @media(max-width: 768px) {
    flex-direction: row;
    padding: 0;
    height: 70px;
    margin: 8px;
    background: transparent;
    border-radius: 12px;
    
    > strong {
      display: none;
    }
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 24px 24px 0;
}