.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(287.69deg, #16161A 1.02%, rgba(29, 29, 52, 0.94) 87.35%);

  display: flex;
}

.header {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 12px;
  background: var(--background);

  strong {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--font-poppins);
    color: var(--text-light);
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 0 24px;
}